.main-flex.h-screen.w-screen
  .emoji
    %i.iconify.base{"data-icon" => "emojione:desktop-computer", "data-inline" => "false"}
    %i.iconify.overlay{"data-icon" => "emojione:hammer", "data-inline" => "false"}
  %code.message= t(:under_construction)
  %code.contact
    %a{href: mailto_generator}= t(:contact)
  %code.locales
    = render "shared/locales"
